<!--Caso no seu pc não instale o paacote dos icones o codigo é =>
npm install --save material-icons --force       -->

<!--Link dos icones-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="navbar navbar-expand-lg ">
  <a class="nav-item dropdown">
    <!--Icone do menu-->
    <a class="nav-link" href="#" role="button" data-toggle="dropdown" style="color: white;" >
      <i class="material-icons">menu</i>


    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" routerLink="/albergue">Meu Albergue</a>
      <a class="dropdown-item" routerLink="/moradores">Moradores</a>
      <a class="dropdown-item" routerLink="/alojamentos">Alojamentos</a>
      <a class="dropdown-item" routerLink="/cadastrarmoradores">Cadastrar Moradores</a>



    </div>
  </a>
  <!--Logo Oasis-->
  <a class="navbar-brand" href="#">
  <div class="LogoOasis" style="display: flex;">
    <img src="assets/img/LogoOasis.jpg" alt="Imglogo" style="height: 50px; nav-down: 10px; padding-top: auto;">
  </div>
</a>

  <img src="" alt="">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Oque é isso-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
    </form>
</div>
<i class="material-icons" style="color: white; padding-right: 20px;">person</i>
<i class="material-icons" style="color: white; ">logout</i>
</nav>
<div class="faixa"></div>

