<h1>Moradores</h1>

<input
  type="text"
  name="text"
  placeholder="Pesquisar"
  class="input"
  [(ngModel)]="searchTerm"
  (input)="onSearch()"
>

<div class="container">
  <div *ngFor="let morador of moradores" class="morador-item">
    
    <div class="morador-info">
      {{ morador.nome }}  {{ morador.cpf }}  {{ morador.id }}
    </div>
    <div class="morador-actions">

      <button 
  (click)="detalhesMorador(morador.id)" 
  class="btn-detalhes"
>
  Detalhes
</button>


    </div>
  </div>
</div>
